@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$blue:    #0FA899 !default;

.sticky-top {
    position: sticky !important;
}



body{
    font-family: 'Karla', sans-serif !important;
    color: white;
}


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";



@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";  

a {
    text-decoration: none;
}


.footer-customs{
    background-color: #F8F9FA !important;
    color: $blue-700!important;
}

.text-final-footer{
    color: $blue-700;
}

.hover-custom :hover{
    color: $blue !important;
}

.btn-primary, .btn-outline:hover {
    color: white !important;
    border-Top: rgba(111, 111, 111, 0.06);
}

.separador{
    border-top: 1px solid #dee2e6;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: white;
}


.accordion-button:not(.collapsed){
    box-shadow: none!important
}
.accordion-button{
    padding-bottom: 10px;
}
.accordion-body{
    padding-top: 0px!important;
}


.tittle-custom{
    color: #06433D!important;
    font-weight: bold;
}


.presentation{
    background-color: rgba(207, 238, 235, 0.4) ;

}

.with-available{
    width: stretch;
    width:-webkit-fill-available;
    width: -moz-available;
}


@media only screen and (max-device-width: 780px){
    .img-presentacion{
        display: none;
}}

.accordion {
    // scss-docs-start accordion-css-vars
    
    --#{$prefix}accordion-bg: #{$accordion-bg};

    --#{$prefix}accordion-border-width: #{$accordion-border-width};

    --#{$prefix}accordion-btn-padding-x: #{$accordion-button-padding-x};
    --#{$prefix}accordion-btn-padding-y: #{$accordion-button-padding-y};
    --#{$prefix}accordion-btn-color: #{$accordion-button-color};
    --#{$prefix}accordion-btn-bg: #{$accordion-button-bg};
    --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --#{$prefix}accordion-btn-icon-width: #{$accordion-icon-width};
    --#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};
    --#{$prefix}accordion-btn-icon-transition: #{$accordion-icon-transition};
    --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-icon)};
    --#{$prefix}accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
    --#{$prefix}accordion-btn-focus-box-shadow: #{gras};
    --#{$prefix}accordion-body-padding-x: #{$accordion-body-padding-x};
    --#{$prefix}accordion-body-padding-y: #{$accordion-body-padding-y};
    --#{$prefix}accordion-active-color: #{black};
    --#{$prefix}accordion-active-bg: #{$accordion-bg};
    // scss-docs-end accordion-css-vars
  }



.ImageUpload{
    img:hover{
        background-color: rgba(255, 255, 255, 0.371);

    }
}